#Configuration file for quiz_maker

#Question Keys
#These keys are used to determine the categories that make up a question
#place a qc: before each category followed by :(displayed,itemized,hidden).
#by default, every question must have a style, inquiry, and answer.
#DO NOT remove those categories from this file or the program will break. 
qc:style="style":hidden
qc:inquiry="inquiry":displayed
qc:choices="choices":itemized
qc:answer="answer":hidden
